:root {
  --navColor: #111111;
  --navHover: #5b28ff;
  --navText: #e9e9e9;
  --navTextHover: #ffffff;
  --navButton: #292929;
  --navShadow: #262626;
  --descriptionColor: #292929;
  --mainBackground: #404040;

  --buttonYellow: #dfec08;
  --buttonTextShadow: #a0ab21;
  --buttonHover: #b095f3;
  --buttonHoverShadow: #8265ca;
  --buttonInnerline: rgb(16, 16, 16);

  --listYellowDark: #f3ff4b;
  --listBlueDark: #3322cd;

  --formLight: #ffffff2b;
  --formDim: #c3c3c350;
  --consoleDark: #1f1721;
  --consoleText: rgb(255, 254, 224);
}
body {
  font-family: Splatfont2;
  font-size: 14px;
  line-height: 20px;
  margin: 0px;
  max-width: 100vw;
  width: 100vw;
  max-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
.customButton {
  transition: 0.2s;
  border-style: double;
  border-color: transparent;
  background-color: var(--buttonYellow);
  box-shadow: inset 0 0 0 1px var(--buttonInnerline);
  font-family: Splatfont2;
  line-height: 1.5;
  text-shadow: 1px 1px var(--buttonTextShadow);
}
.customButton:hover {
  transition: 0.2s;
  background-color: var(--buttonHover);
  text-shadow: 1px 1px var(--buttonHoverShadow);
}
/* Nav Bar Stuff */
#logo {
  margin: 0;
  height: 0px;
  width: 6vw;
}
#navBar {
  flex-grow: 1;
  background-color: var(--navColor);
  color: var(--navText);
  max-height: 9vh;
}
#navList {
  padding-left: 0;
  display: flex;
  list-style-type: none;
  text-align: center;
}
.navButton {
  padding: 0px;
  transition: 0.15s;
  flex-grow: 1;
  display: flex;
}
.navLink {
  background-image: url("images/tv-static.png");
  background-position: 30px;
  background-size: 700px;
  width: 100%;
  font-family: Paintball;
  font-size: 20px;
  text-decoration: none;
  color: var(--navText);
}
/* .navButton #one{
    background-color: var(--mainBackground);
    z-index: 2;
  } */
.navButton:hover {
  padding: 0px;
  transition: 0.15s;
  background-color: var(--navHover);
  color: var(--navTextHover);
}
.navLink:hover {
  color: var(--navTextHover);
}
#navBar ul {
  height: 100%;
}

/*side Bar*/
#pageDescription {
  flex-grow: 1;
  padding: 10px;
  background-color: var(--descriptionColor);
  display: flex;
  flex-direction: column;
  color: var(--navText);
}
.big {
  max-width: 15vw;
}
#pageDescription p {
  flex-grow: 1;
}
#hideButton {
  width: 25px;
  height: 25px;
  text-align: center;
}
.hideDescription {
  width: 10px;
}
.hideDescription h3 {
  display: none;
  width: 10px;
}
.hideDescription p {
  display: none;
  width: 10px;
}
.hide {
  display: none;
}
.small {
  max-width: fit-content;
}
#grow {
  flex-grow: 1;
}
#signInSection {
  color: var(--navText);
}

#signInForm {
  margin: 0px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-color: var(--navColor);
  border-bottom-style: solid;
}
#userName {
  margin: 3px;
  min-width: 30px;
  width: 95%;
}
#submitButton {
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

input[type="radio"] {
  /* background-color: red; */
  accent-color: var(--navHover);
}
input[type="number"] {
  text-align: center;
  background-color: var(--consoleDark);
  color: var(--consoleText);
  font-family: Splatfont2;
  font-size: 12px;
  border-style: double;
  border-color: transparent;
  box-shadow: inset 0 0 0 1px var(--navText);
}
input[type="text"] {
  background-color: var(--consoleDark);
  color: var(--consoleText);
  font-family: Splatfont2;
  border-style: double;
  border-color: transparent;
  box-shadow: inset 0 0 0 1px var(--navText);
  padding-left: 3px;
}
/* Main page Stuff */
#mainSection {
  z-index: 1;
  box-shadow: 0px -1px 4px var(--navShadow);
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  max-height: 91vh;
}
#pageContent {
  background-image: url("images/tv-static.png");
  background-size: 750px;
  flex-grow: 4;
  background-color: var(--mainBackground);
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Form stuff */
#generatorForm {
  color: var(--navText);
  display: flex;
  flex-direction: row;
  background-color: var(--formLight);
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
}
#generatorForm input {
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
#buttonSection {
  margin-left: 10px;
  margin-right: 10px;
}
/* false console */
#falseConsole {
  padding: 10px;
  background-color: var(--consoleDark);
  flex-grow: 1;
  width: 78%;
  border-radius: 10px;
  border-color: var(--formLight);
  border-width: 5px;
  border-style: double;
  color: var(--consoleText);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

#buttonSection button {
  padding: 3px;
  width: 80px;
  margin: 3px;
}

#singleDisplay {
  flex-shrink: 0;
  height: 100px;
  width: 90%;
  margin: 10px;
  background-color: var(--formLight);
  color: var(--navText);
  border-radius: 10px;
}
#singleDisplay {
  display: flex;
}
#singleDisplay img {
  margin: 10px;
}
#singleDisplay h1 {
  margin-top: 35px;
  font-size: 25px;
  text-align: center;
  flex-grow: 1;
}
#singleDisplay h3 {
  flex-grow: 2;
  border-left-style: solid;
  border-left-color: var(--descriptionColor);
  margin-left: 5px;
  padding-top: 20px;
  font-size: 20px;
  text-align: center;
}
.scrollBar {
  overflow-y: scroll;
}

.tablesContainer {
  width: 90%;
  display: flex;
  flex-direction: row;
}
.table {
  display: flex;
  /* background-color: var(--formLight); */
  flex-grow: 1;
  margin: 30px;
  border-radius: 15px;
  /* width:90%; */
  flex-direction: column;
}
#mainTable {
  background-color: var(--buttonYellow);
}
#mainTable .row {
  background-color: var(--buttonYellow);
}
#mainTable .row:nth-child(even) {
  background-color: var(--listYellowDark);
}
#customListElement {
  background-color: var(--navHover);
  color: var(--navText);
  text-shadow: 1px 1px var(--mainBackground);
}
#customListElement .row {
  background-color: var(--navHover);
}
#customListElement .row:nth-child(even) {
  background-color: var(--listBlueDark);
}
.row:nth-child(1) {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.row:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.row {
  transition: 0.2s;
  flex-grow: 1;
  /* background-color: var(--formDim); */
  display: flex;
  max-height: fit-content;
}
.row:hover {
  transition: 0.2s;
  scale: 1.05;
  border-radius: 15px;
}
.row p {
  flex-grow: 1;
  padding: 10px;
  width: 50px;
}

.searchBox {
  display: flex;
  margin-top: 10px;
  padding: 15px;
  width: 90%;
  height: 20px;
  background-color: var(--formLight);
  border-radius: 15px;
  flex-direction: row;
  align-content: center;
  color: var(--navText);
  text-shadow: 1px 1px var(--mainBackground);
}
.searchBox input {
  flex-grow: 1;
  margin-left: 5px;
}
#submitCustom {
  margin-left: 10px;
  font-size: 10px;
}

/* Computer Mode */
@media screen and (min-width: 401px) {
  #navList {
    margin: 0px;
  }
  #one{
    background-color: var(--mainBackground);
    z-index: 5;
  }
  #one:hover{
    background-color: var(--navHover);
  }
  .navButton {
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    background-color: var(--navButton);
    /* So how this works is that each set of % is a X,Y cordanite and they corrospond to a corner, if you add more cordanites then it adds more points to the edge, and you can use it to make a fake curve */
    clip-path: polygon(
      0% 100%,
      /*bottom left corner*/ 3% 30%,
      4% 20%,
      6% 10%,
      8% 4%,
      10% 1%,
      12% 0%,
      /* Top Left corner */ 88% 0%,
      90% 1%,
      92% 4%,
      94% 10%,
      96% 20%,
      97% 30%,
      /* Top right corner */ 100% 100% /*bottom right corner*/
    );
  }
  .navButton a {
    height: 100%;
  }
  .navLink {
    padding-top: 3vh;
    /* height: 100%; */
  }
}

/* Phone Mode */
@media screen and (max-width: 400px) {
  /* Nav bar stuff */
  #navBar {
    max-height: 9vh;
    max-width: 100vw;
  }
  /* main section stuff */
  #mainSection {
    max-height: 91vh;
  }
  #generatorForm {
    /* max-width: 95vw; */
    margin: 0px;
  }
  #pageDescription {
    display: none;
  }
  #navList {
    margin-top: 0px;
    padding: 0px;
    flex-wrap: wrap;
  }
  .navLink {
    width: 50vw;
    padding-top: 0.3vh;
    font-size: 10px;
  }
  #generatorForm {
    margin-top: 10px;
    padding: 0px;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #buttonSection {
    display: flex;
    flex-direction: row;
  }
  #buttonSection button {
    width: 45vw;
  }
  .divider {
    flex-grow: 1;
  }
  #logo {
    display: none;
  }
  #falseConsole p {
    padding: 0px;
    margin: 5px;
  }
  #singleDisplay {
    display: none;
  }
  #falseConsole {
    max-width: 78%;
  }
  /* Weapon list page formatting */
  #mainTable {
    margin: 0px;
    margin-top: 15px;
  }
  #customListElement {
    margin: 0px;
    margin-top: 15px;
    margin-left: 15px;
  }
  .row p:nth-child(2) {
    display: none;
  }
}

@font-face {
  font-family: PaintBall;
  src: url(fonts/Project\ Paintball\ Display.ttf);
}
@font-face {
  font-family: Splatfont2;
  src: url(fonts/Splatfont2.ttf);
}
